*.weights
*.backup
ai/char_classification/trained_model
ai/text_region_localization/trained_model
ai/char_localization/trained_model
temp
test.jpg
python/utils/__pycache__
python/testroom.py
test.pdf
ai/char_classification/trained_model_old/saved_model.pb
ai/char_classification/trained_model_old/variables/variables.data-00000-of-00001
ai/char_classification/trained_model_old/variables/variables.index
