*.weights
*.backup
ai/char_classification/*
ai/text_region_localization/trained_model
ai/char_localization/trained_model
temp
output/*
python/utils/__pycache__
python/testroom/*
ai/char_classification/trained_model_old/*
input/*
test.pdf
test.jpg
python/__pycache__

