*.weights
*.backup
*.cfg
*.txt
*.jpeg
*.jpg
*.pdf
*.pyc
.vscode
.vscode/*
python/__pycache__
python/utils/__pycache__
ai/char_classification/archive
ai/char_classification/trained_model
temp
python/testroom/*./ai/text_region_localization/trained_model/yolov4-leaky-416_last.weights
./ai/char_localization/trained_model/detect_v2.weights
./ai/char_localization/trained_model/train_832.backup